{% extends 'base.html'%}

{% block header%}


<title>TodoList</title>
<style>
    }
</style>
{% endblock%}
{% block content%}

<h1>代辦事項列表</h1>
{% for todo in todos %}
<div class="todo-field">
    <small class="created">{{todo.created}}

    </small>
    {% if todo.important %}
    <span class="important">重要</span>
    {% endif %}
    {% if todo.completed %}
    <span class="completed">完成</span>
    {% endif %}
    <div class="title">{{todo.title}}</div>
    {% if todo.content %}
    <div class="content">{{todo.content|linebreaks}}</div>
    {% endif %}
    <a href="{% url 'todo-delete'  todo.id  %}" onclick="return confirm('是否確定刪除?!')">刪除</a>
    <a href="{% url 'todo-update'  todo.id  %}">更新</a>

</div>



{% endfor %}
{% endblock %}